<% provide(:title, "Contact Me") %>
<%= render 'layouts/top_of_page' %>

<div class="content">
    <section>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <h1>Contact Me</h1>
                <p>You can send me an email using the form provided</p>
                <div class="d-flex flex-column">
                    <div class="d-flex mt-5">
                        <%= link_to (image_tag 'static/github-mark.png'), 'https://github.com/alanvardy/', class: "ml-auto"%>
                        <%= link_to (image_tag 'static/github-logo.png'), 'https://github.com/alanvardy/', class: "mr-auto align-self-center"%>
                    </div>
                    <div class="ml-auto mb-2">
                        <p class="col">...or, find me on GitHub!</p>
                    </div>
                </div>
            </div>
        <div class="col-12 col-lg-6 align-middle">
                <div class="bg-grey0 rounded shadow-sm p-3 mb-3 my-lg-5">
                <%= form_for @message, url: messages_create_path do |f| %>
                    <div class="form-group">
                        <%= f.text_field :name, class: 'form-control', placeholder: 'Name'%>
                    </div>

                    <div class="form-group">
                        <%= f.email_field :email, class: 'form-control', placeholder: 'Email address'%>
                    </div>
                    <div class="form-group">
                        <%= f.telephone_field :phone_number, class: 'form-control', placeholder: 'Phone number (optional)'%>
                    </div>
                    <div class="form-group">
                        <%= f.text_area :body, class: 'form-control', rows: '5', placeholder: 'Message'%>
                    </div>
                    <div class="form-group">
                        <%= recaptcha_tags %>
                    </div>
                    <div class="form-group">
                        <%= f.submit 'Send Form', class: 'btn btn-outline-primary'%>
                    </div>
                    <small class="text-muted ml-3">
                        Your email address will not be shared with any 3rd parties
                    </small>
                <% end %>
        </div>
    </div>
    </div>
    </section>
                        <p class="text-center border-secondary border-top pt-3">I'm looking forward to hearing from you!</p>
</div>
