<% provide(:title, "Portfolio") %>
<%= render 'layouts/top_of_page' %>
<h1>Portfolio</h1>
<% portfolio = [
    {title: "Alan Vardy", description: "This site!", website: "https://www.alanvardy.com/",
    github: "https://github.com/alanvardy/alanvardy",image: "alanvardy.png", more: "#" },
    {title: "YEGRB", description: "Edmonton's Ruby Meetup", website: "https://www.yegrb.com/",
    github: "https://github.com/yegrb/yegrb.github.io",image: "yegrb.png", more: "#" },
    {title: "Cornelia Kelinske", description: "Professional Translator and Interpreter", website: "https://www.corneliakelinske.com/",
    github: "#",image: "corneliakelinske.png", more: "#" },
    {title: "dbbackup", description: "A shell script that backs up all your Heroku and Dokku Postgres databases to Google Drive", website: "#",
    github: "https://github.com/alanvardy/dbbackup",image: "dbbackup.png", more: "#" },
    {title: "Calculator", description: "An exercise in javascript, try using your keyboard!", website: "https://calculator.vardy.codes/",
    github: "https://github.com/alanvardy/calculator",image: "calculator.png", more: "#" },
    {title: "Exercism", description: "Improving coding skills through practice and mentorship", website: "https://exercism.io/profiles/alanvardy",
    github: "https://github.com/alanvardy/exercism",image: "exercism.png", more: "#" },
] %>

<div class="row">
    <% portfolio.each do |item| %>
    <div class="col-lg-4 col-md-6 col-12 d-flex justify-content-center pt-5">
        <div class="card shadow-sm" style="width: 18rem;">
            <a href="<%= item[:website] %>" target=”_blank” ><%= image_tag "portfolio/#{item[:image]}", class: 'card-img-top w-100' %></a>
            <div class="card-body bg-light">
                <h5 class="card-title"><%= item[:title] %></h5>
                <p class="card-text text-muted"><%= item[:description] %></p>
                <% if item[:more] != "#" %>
                    <%= link_to 'Learn more', item[:more], class: 'btn btn-outline-primary' %>
                <% end %>
            </div>
              <div class="card-footer d-flex justify-content-around">
                <% if item[:website] != "#" %>
                    <a href="<%= item[:website] %>" class="btn btn-primary" target=”_blank” >Website</a>
                <% end %>
                <% if item[:github] != "#" %>
                    <a href="<%= item[:github] %>" class="btn btn-outline-primary" target=”_blank” >Github</a>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
</div>

<%= render 'layouts/call_to_action' %>