<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <%= link_to 'alanvardy', root_path, class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
    <%= link_to 'Home', root_path, class: active_nav('Home', yield(:title)) %>
    <%= link_to 'Blog', posts_path, class: active_nav(['Blog', 'Tags', 'All Posts'], yield(:title)) %>
    <%= link_to 'Portfolio', static_portfolio_path, class: active_nav('Portfolio', yield(:title)) %>
    <%= link_to 'My Setup', setup_index_path, class: active_nav('My Setup', yield(:title)) %>
    <%= link_to 'About Me', static_aboutme_path, class: active_nav('About Me', yield(:title)) %>
    <%= link_to 'Contact Me', contact_path, class: active_nav('Contact Me', yield(:title)) %>
    </div>
    <div class="navbar-nav">


    </div>
  </div>
</nav>