<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <%= link_to 'alanvardy', root_path, class: 'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
    <%= link_to 'Home', root_path, class: 'nav-item nav-link'%>
    <%= link_to 'Blog', posts_index_path, class: 'nav-item nav-link'%>
    <%= link_to 'Portfolio', static_portfolio_path, class: 'nav-item nav-link'%>
    <%= link_to 'Setup', setup_index_path, class: 'nav-item nav-link'%>
    <%= link_to 'Resume', static_resume_path, class: 'nav-item nav-link'%>
    <%= link_to 'Contact', static_contact_path, class: 'nav-item nav-link'%>
    </div>
    <div class="navbar-nav">
      <a href="https://github.com/alanvardy/" class="nav-item nav-link"><i class="fab fa-github"> Github</i></a>
      <a href="https://exercism.io/profiles/alanvardy" class="nav-item nav-link"><i class="fas fa-code"></i> Exercism</i></a>
      <a href="http://yegrb.com/" class="nav-item nav-link"><i class="fab fa-meetup"></i> YEGRB</i></a>

    </div>
  </div>
</nav>