<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | alanvardy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon/favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/analytics' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-grey3 text-dark">
  <%= render 'layouts/navbar' %>
    <%= yield %>

  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
