<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | alanvardy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <div class="container mt-3 rounded py-5">
  <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
    <%= yield %>
  <% if session[:current_user] %>
  <p class="mt-5">
    <%= link_to 'New Post', new_post_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Log out', session_path('logout'), method: :delete, class: 'btn btn-outline-primary' %>
  </p>
  <% end %>
  </div>
  </body>
</html>
